
div.open {
    width: 800px;
    height: 700px;
    position: relative;
    background-image: url("../images/field-tactic.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-size: 100% 100%;
}

.form:hover .cancle {
    display: inline-block;
    position: relative;
    left: 90px;
    top: -25px;
    font-weight: bold;

    color: #ee1e46;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(34, 40, 49);
    border: 0px;

}

.form:not(.cancle):hover{opacity: 0.8;}



.cancle {position: relative;display: none;}

#ras {position: relative;}

div.empty {
    width: 140px;
    height: 130px;
    border-radius: 40%;
    background-image: url("../images/player_icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


div.search {

    display: none;
    flex-direction: column;
    align-items: center;
    padding-right: 16px;
    position: absolute;
    justify-content: center;
    background-color: rgb(34, 40, 49);
    border: 1px solid white;
    color: white;
    text-align: center;
    top: 200px;
}

div.line_up_row {
    display: flex;
    justify-content: center;
    flex-direction: column
}

div.full {
    width: 140px;
    height: 110px;
    border-radius: 40%;
    /* background-image: url("../images/img_2.jpg"); */
    background-size: 100%;
    background-repeat: no-repeat;
}

div.chan_set {margin-bottom: 10px;z-index: 2;}

div.chan_set button {
    margin: 0px 5px;
    background-color: rgb(34, 40, 49);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;

}
div.close {display: none;}
div.st {left: 330px;top: 0px;}
div.cf {left: 330px;top: 136px;}
div.lm {left: 63px;top: 140px;}
div.lcm {left: 196px;top: 200px;}
div.rcm {left: 464px;top: 200px;}
div.rm {left: 597px;top: 140px;}
div.lb {left: 30px;top: 330px;}
div.lcb {left: 196px;top: 360px;}
div.rcb {left: 464px;top: 360px;}
div.rb {left: 630px;top: 330px;}
div.gk{left:330px;top: 500px;}

table{
    color: white;
    text-align: center;
}
td.quarter span:not(span:first-child)::before{
    content: "";
    border-left: 1px solid white; 
    border-radius: 5px;
    position: relative;
    left: -5px;

}

td.quarter span.part{
    text-decoration: line-through;  
    text-decoration-color: #ee1e46;
    text-decoration-thickness: 3px;
}
td.quarter span{

    padding: 0px 5px;
    border-radius: 10px;
    color: white;
}
div.search button.close_pop{
    position: relative;
    left: 234px;
    padding: 0px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    color:  #ee1e46;
    font-weight: bold;
    font-size: 20px;
}
.nameNum {position: relative;top: 110px;}

div.nameNum {color: white;text-align: center;}

div.nameNum span {padding: 0px 5px;}
div.col-lg-12{padding-right: 0px;}
div.search-bar{display: flex; justify-content: flex-end; margin-bottom: 7px;}
div.search-bar button{
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    width: 33.19px;
    background-size: 100%;
    border: 0px;
    background-color: rgba(255,255,255,0);
}