<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soccer.deploy.board.repository.JpaBoardRepository">
	
	<select id="findAll" resultType="soccer.deploy.board.entity.board" >
		SELECT boardId,category,title,description
        FROM board
	</select>
	
	<select id="findByBoardId" parameterType="string" resultType="soccer.deploy.board.entity.board" >
		SELECT boardId,category,title,description 
		FROM board
		WHERE boardId = #{boardId}
	</select>
	
	<!--
	<select id="findByAgeRange" parameterType="int" resultType="soccer.deploy.dto.Notice" >
		SELECT id, password, name, age 
		FROM member
		WHERE age BETWEEN #{begin} AND #{end}
	</select>
	-->
	
	<select id="findByTitleLike" parameterType="string" resultType="soccer.deploy.board.entity.board" >
		SELECT boardId,category,title,description 
		FROM board
		WHERE title LIKE #{value}
	</select>
	
	<!-- 
	<select id="findBySearch" parameterType="map" resultType="Member" >
		SELECT id, password, name, age 
		FROM member
		<if test="type != null and type != ''">
			<choose>
				<when test="type == 'id'">
					WHERE id = #{value}
				</when>
				<when test="type == 'name'">
					WHERE name LIKE '%' || #{value} || '%'
				</when>
			</choose>
		</if>
	</select>
	 -->
	<select id="findBySearch" parameterType="map" resultType="soccer.deploy.board.entity.board" >
		SELECT boardId,category,title,description 
		FROM board
		<where>
			<if test="type != null and type == title">
				and title LIKE '%' || #{title} || '%'
			</if>
			<if test="type != null and type == description">
				and description LIKE '%' || #{description} || '%'
			</if>
		</where>
	</select>
	
	<select id="findBySearchV2" parameterType="soccer.deploy.board.entity.board" resultType="soccer.deploy.board.entity.board" >
		SELECT boardId,category,title,description 
		FROM board
		<where>
			<if test="id != null and id != ''">
				or title LIKE '%' || #{title} || '%'
			</if>
			<if test="name != null and name != ''">
				or description LIKE '%' || #{description} || '%'
			</if>
			<!-- <if test="age != null">
				or age = #{age}
			</if>
			-->
		</where>
	</select>
	 
	<insert id="create" parameterType="soccer.deploy.board.entity.board">
		INSERT INTO board(boardId,category,title,description)
		VALUES(#{boardId}, #{category}, #{title}, #{description})
	</insert>
	
	<!--<update id="update" parameterType="soccer.deploy.dto.notice">
		UPDATE notice
		SET age = #{age}
		WHERE id = #{id}
	</update>
	 -->
	 <select id="selectID" parameterType="string">
		SELECT boardId,category,title,description
		FROM board
		WHERE boardId = #{boardId}
	</select>
	 
</mapper>